.App {
  background-color: rgb(47, 46, 58);
  color: aliceblue;
  padding-left: 10px;
  padding-right: 10px;
  height: inherit;
}

.App-header {
  background-color: #282c34;
  min-height: 2vh;
  font-size: 10px;
  margin-left:-10px;
  margin-right: -10px;
  color: white;
}